body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:866px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:866px;
}
#u134 {
  position:absolute;
  left:2px;
  top:425px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  position:absolute;
  left:31px;
  top:96px;
  width:377px;
  height:675px;
}
#u136 {
  position:absolute;
  left:2px;
  top:330px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:42px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u137 {
  position:absolute;
  left:32px;
  top:97px;
  width:375px;
  height:42px;
}
#u138 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4A8CF7;
}
#u139 {
  position:absolute;
  left:333px;
  top:208px;
  width:67px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#4A8CF7;
}
#u140 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u141 {
  position:absolute;
  left:70px;
  top:107px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:23px;
}
#u143 {
  position:absolute;
  left:43px;
  top:107px;
  width:10px;
  height:23px;
}
#u144 {
  position:absolute;
  left:2px;
  top:4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3498DB;
}
#u146 {
  position:absolute;
  left:66px;
  top:153px;
  width:56px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3498DB;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u148 {
  position:absolute;
  left:57px;
  top:173px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3498DB;
}
#u150 {
  position:absolute;
  left:202px;
  top:153px;
  width:36px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3498DB;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u152 {
  position:absolute;
  left:190px;
  top:173px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3498DB;
}
#u154 {
  position:absolute;
  left:331px;
  top:153px;
  width:28px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3498DB;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u156 {
  position:absolute;
  left:318px;
  top:173px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u158 {
  position:absolute;
  left:156px;
  top:153px;
  width:1px;
  height:34px;
}
#u159 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u160 {
  position:absolute;
  left:281px;
  top:153px;
  width:1px;
  height:34px;
}
#u161 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u162 {
  position:absolute;
  left:32px;
  top:199px;
  width:375px;
  height:1px;
}
#u163 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u164 {
  position:absolute;
  left:52px;
  top:213px;
  width:117px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u166 {
  position:absolute;
  left:32px;
  top:256px;
  width:375px;
  height:18px;
}
#u167 {
  position:absolute;
  left:2px;
  top:1px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u168 {
  position:absolute;
  left:52px;
  top:284px;
  width:30px;
  height:30px;
}
#u169 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u170 {
  position:absolute;
  left:92px;
  top:289px;
  width:37px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u172 {
  position:absolute;
  left:57px;
  top:324px;
  width:23px;
  height:25px;
  color:#999999;
}
#u173 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u174 {
  position:absolute;
  left:90px;
  top:327px;
  width:253px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u176 {
  position:absolute;
  left:32px;
  top:357px;
  width:375px;
  height:18px;
}
#u177 {
  position:absolute;
  left:2px;
  top:1px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u178 {
  position:absolute;
  left:180px;
  top:382px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u179 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u180 {
  position:absolute;
  left:57px;
  top:414px;
  width:347px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  white-space:nowrap;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u182 {
  position:absolute;
  left:32px;
  top:622px;
  width:375px;
  height:18px;
}
#u183 {
  position:absolute;
  left:2px;
  top:1px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:144px;
}
#u184 {
  position:absolute;
  left:32px;
  top:474px;
  width:375px;
  height:144px;
}
#u185 {
  position:absolute;
  left:2px;
  top:64px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u186 {
  position:absolute;
  left:57px;
  top:647px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u188 {
  position:absolute;
  left:32px;
  top:674px;
  width:375px;
  height:1px;
}
#u189 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u190 {
  position:absolute;
  left:51px;
  top:679px;
  width:30px;
  height:30px;
}
#u191 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#029AE2;
}
#u192 {
  position:absolute;
  left:91px;
  top:684px;
  width:37px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#029AE2;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u194 {
  position:absolute;
  left:133px;
  top:684px;
  width:37px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#029AE2;
}
#u196 {
  position:absolute;
  left:177px;
  top:684px;
  width:44px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#029AE2;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u198 {
  position:absolute;
  left:57px;
  top:715px;
  width:155px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u200 {
  position:absolute;
  left:32px;
  top:725px;
  width:375px;
  height:45px;
}
#u201 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u202 {
  position:absolute;
  left:51px;
  top:736px;
  width:25px;
  height:25px;
}
#u203 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u204 {
  position:absolute;
  left:83px;
  top:736px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u206 {
  position:absolute;
  left:166px;
  top:736px;
  width:25px;
  height:25px;
}
#u207 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u208 {
  position:absolute;
  left:197px;
  top:739px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u211 {
  position:absolute;
  left:273px;
  top:725px;
  width:134px;
  height:45px;
}
#u212 {
  position:absolute;
  left:2px;
  top:14px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u213 {
  position:absolute;
  left:310px;
  top:738px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u215 {
  position:absolute;
  left:280px;
  top:736px;
  width:25px;
  height:25px;
}
#u216 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:52px;
  top:275px;
  width:323px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
